.header-contents {
  height: 50px;
  width: 100%;
  background-color: #222222;
  display: flex;
  position: relative;
  color: #ffffff;

  .search-box-container {
    position: absolute;
    top: 10px;
    left: 15px;
    .search-box {
      height: 30px;
      width: 200px;
      background-color: #666666;
      color: #ffffff;
      border: none;
      border-radius: 25px;
      padding-left: 15px;
    }
    .search-box:focus {
      outline: none;
    }
    .search-box::placeholder {
      font-size: 15px;
      color: #eeeeee;
    }
  }

  .logo-content {
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
    line-height: 50px;
    a {
      color: #ffffff;
    }
  }

  .right-content {
    position: absolute;
    right: 15px;
    display: flex;
    .user-page {
      height: 30px;
      margin: 10px 0 10px;
      padding: 0 15px 0;
      background-color: #4277ec;
      border-radius: 10px;
      line-height: 30px;
      cursor: pointer;
      a {
        font-size: 12px;
        color: #ffffff;
      }
    }
    .register {
      padding: 0 15px 0;
      line-height: 50px;
      a {
        font-size: 12px;
        color: #ffffff;
      }
    }
    .login {
      height: 30px;
      margin: 10px 0 10px;
      padding: 0 15px 0;
      background-color: #4277ec;
      border-radius: 10px;
      line-height: 30px;
      cursor: pointer;
      a {
        font-size: 12px;
        color: #ffffff;
      }
    }
  }
}