.mypage-container {
  width: 100%;
  height: 450px;
  background-color: #333333;
  padding-top: 50px;

  .mypage-contents {
    width: 70%;
    height: 400px;
    margin: 0 auto;
    border-radius: 5px;
    background-color: #555555;

    .mypage-currentuser-title {
      width: 80%;
      height: 50px;
      color: #ffffff;
      font-size: 20px;
      text-align: center;
      line-height: 50px;
      margin: 0 auto;
      border-bottom: 1px solid #999999;
      margin-bottom: 30px;
    }

    .mypage-currentuser-info-top {
      width: 70%;
      height: 50px;
      color: #ffffff;
      font-size: 20px;
      text-align: center;
      line-height: 50px;
      margin: 0 auto;
      border-bottom: 1px solid #999999;
      margin-bottom: 180px;

      .mypage-currentuser-name,
      .mypage-currentuser-gender,
      .mypage-currentuser-age {
        display: flex;
        justify-content: center;

        h2 {
          margin-right: 40px;
        }
      }

      .mypage-currentuser-btn {
        width: 50%;
        height: 50px;
        color: #ffffff;
        font-size: 20px;
        text-align: center;
        line-height: 50px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        text-decoration: none;

        .mypage-editbtn,
        .mypage-logoutbtn {
          width: 120px;
          background: #4277ec;
          font-size: 17px;
          color: #ffffff;
          display: block;
          text-decoration: none;
          cursor: pointer;
          border-radius: 5px;
          &:hover {
            background-color: #4286ec;
          }
        }
      }
    }
  }
}