.footer
  .footer-contents
    .logo-content
      smot
    .overview-content
      %ul.overview-content__head
        smotについて
        %li.overview-content__list
          サービス概要
        %li.overview-content__list
          プライバシーポリシー
        %li.overview-content__list
          利用規約
        %li.overview-content__list
          よくあるご質問
  .footer-copy
    ©smot